<%- include("../partials/user/header") %>

<div class="account_ctn_Right_Part1">
    <div class="acr_Part1 acr_Part11">
        <h4>username:</h4>
        <h3><%= user.username %></h3>
    </div>
    <div class="acr_Part1 acr_Part12">
        <h4>Registration Date:</h4>
        <h3><%= registrationDate %></h3>
    </div>
    <div class="acr_Part1 acr_Part13">
        <h4>last access:</h4>
        <h3><%= user.lastLogin %></h3>
    </div>
</div>
<div class="account_ctn_Right_Part2">
    <div class="acr_Part2 acr_Part21 ">
        <div class="acr_Part2_title">
            <p>Account Balance</p>
            <h3>
                    Withdrawal
            </h3>
        </div>
        <div class="acr_Part2_ctn">
            <a href="/withdraw">Make A Withdrawal</a>
        </div>
    </div>
    <div class="acr_Part2 acr_Part22 ">
        <div class="acr_Part2_title">
            <p>earned total</p>
            <h3>Deposits</h3>
        </div>
        <div class="acr_Part2_ctn">
            <a href="/deposit">make a deposit</a>
        </div>
    </div>
    <div class="acr_Part2 acr_Part23">
        <div class="acr_Part2_title">
            <p>active deposit</p>
            <h3>current/last</b></h3>
        </div>
        <div class="acr_Part2_ctn">
            <ul>
                <li>
                    Last Deposit:
                    <% if(user.deposit.length > 0 ){ %>
                    
                    <span>$<b><%= user.deposit[user.deposit.length - 1].amount %></b><span>
                    <% }else{ %>
                        $0.00
                    <% } %>
                </li>
                <li>
                    <li>
                        
                        Pending Deposit:
                        <% if(user.deposit.length > 0 ){ %>
                    
                            <span>$<b><%= user.deposit[user.deposit.length - 1].amount %></b><span>
                            <% }else{ %>
                                $0.00
                            <% } %>
                                
                    </li>
                </li>
            </ul>
        </div>
    </div>
    <div class="acr_Part2 acr_Part24">
        <div class="acr_Part2_title">
            <p>total withdrawal</p>
            <h3>current/last</b></h3>
        </div>
        <div class="acr_Part2_ctn">
            <ul>
                <li>Last Withdrawal: 
                    <% if(user.deposit.length > 0 ){ %>
                    
                        <span>$<b><%= user.deposit[user.deposit.length - 1].amount %></b><span>
                        <% }else{ %>
                            $0.00
                        <% } %>
                </li>
                <li>Pending Withdrawal: <span>$<b>0.00</b><span></li>
            </ul>
        </div>
    </div>
</div>


                                          
<br><br>
<br>
</div>
<div class="clearfix"></div>
</div>
</div>


</div>

<%- include("../partials/user/footer") %>