<%- include("../partials/user/header") %>

<div class="account_ctn_Right_Part1">
    <div class="acr_Part1 acr_Part11">
        <h4>username:</h4>
        <h3><%= user.username %></h3>
    </div>
    <div class="acr_Part1 acr_Part12">
        <h4>Registration Date:</h4
        <h3><%= registrationDate %></h3>
    </div>
    <div class="acr_Part1 acr_Part13">
        <h4>last access:</h4>
        <h3><%= user.lastLogin %></h3>
    </div>
</div>
<div class="account_ctn_Right_Part2">
    <div class="acr_Part2 acr_Part21 ">
        <div class="acr_Part2_title">
            <p>Account Balance</p>
            <h3>
                    Withdrawal
            </h3>
        </div>
        <div class="acr_Part2_ctn">
            <a href="/withdraw">Make A Withdrawal</a>
        </div>
    </div>
    <div class="acr_Part2 acr_Part22 ">
        <div class="acr_Part2_title">
            <p>earned total</p>
            <h3>Deposits</h3>
        </div>
        <div class="acr_Part2_ctn">
            <a href="/deposit">make a deposit</a>
        </div>
    </div>
    <div class="acr_Part2 acr_Part23">
        <div class="acr_Part2_title">
            <p>ACTIVE DEPOSITS</p>
            <h3><b>$<%= user.activeDeposit %>.00</b></h3>
        </div>
        <div class="acr_Part2_ctn">
            <ul>
                <li>
                    Last Deposit:
                    <span><b>$<%= user.lastDeposit %>.00</b></span>
                </li>
                <li>
                    <li>
                        
                        Total Deposit:
                        <span><b>$<%= totalDeposit %>.00</b></span>
                    </li>
                </li>
            </ul>
        </div>
    </div>
    <div class="acr_Part2 acr_Part24">
        <% var total %>
        <div class="acr_Part2_title">
            TOTAL WITHDRAWALS:
            <h3><b>$<%= total %>.00</b></h3>
        </div>
        <div class="acr_Part2_ctn">
            <ul>
                <li>Last Withdrawal: 
                    <span><b>$<%= user.lastWithDrawal %>,00</b></span>
                </li>
                <li>Pending Withdrawal: <span>$<b><%= user.pendingWithDrawal %></b><span></li>
            </ul>
        </div>
    </div>
</div>


                                          
<br><br>
<br>
</div>
<div class="clearfix"></div>
</div>
</div>


</div>

<%- include("../partials/user/footer") %>