<%- include("../partials/user/header") %>

<h3>Deposit Confirmation:</h3>
<br><br>

<table cellspacing="0" cellpadding="2" class="form deposit_confirm">
  <tbody>
    <form action="/confirm_deposit" method="POST">
    <tr>
      <th>Plan:</th>
      <td><%= deposit.plan %></td>
      <input type="hidden" name="plan" value="<%= deposit.plan %>">
      <td rowspan="6"></td>
    </tr>
    <tr>
      <th>Profit:</th>
      <td><%= deposit.profit %> </td>
      <input type="hidden" name="profit" value="<%= deposit.profit %>">
    </tr>
    <tr>
      <th>Principal Return:</th>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Principal Withdraw:</th>
      <td>Available with 0.00% fee </td>
    </tr>

    <tr>
      <th>Amount:</th>
      <td>$<%= deposit.amount %></td>
      <input type="hidden" name="amount" value="<%= deposit.amount %>">
    </tr>
    <!-- <tr>
 <th>BTC Amount:</th>
 <td></td>
</tr> -->
    <tr>
      <td>Bitcoin Adress:</td>
      <td><%= admin.bitcoinAddress %></td>
    </tr>
    <tr>
      <td>Barcode</td>
      <td><img src="<%= admin.barcode %>" alt="" style="display: block; margin: auto; width:50%"></td>
    </tr>
    <tr>
      <input type="hidden" name="user_id" value="<%=user._id %>">
      <td colspan="2"> <input type="submit" value="Confirm Payment"></td>
    </tr>
    </tr>
  </tbody>
</form>
</table>



</div>
</div>
<div class="clearfix"></div>
</div>
</div>


</div>


<%- include("../partials/user/footer") %>