<%- include("../partials/user/header") %>

<style>
    body {
        color: #000 !important;
    }
</style>
<h3>Ask for withdrawal:</h3><br>
    <table cellspacing=0 cellpadding=2 border=0>
        <tr>
            <th>Plan</th>
            <th>Amount</th>
            <th>Action</th>
            <th>Status</th>
        </tr>
        <% if(user.deposit.length > 0 ){ %>
            <% user.deposit.forEach(each =>{ %>
                <% if(each.status === "Approved"){ %>
                    <tr>
                        <td><%= each.plan %></td>
                        <td>$<%= each.amount %>+</td>
                        <% if(each.withdrawStatus === "Pending"){ %>
                            <td><a style="background-color:white" href="#"><button style="background-color:white" disabled> Make Withdrawal</button></a></td>
                            <td><button style="color:orangered"><%= each.status %></button></td> 
                        <% } else if(each.withdrawStatus === "Approved"){ %>
                            <td><a style="background-color:white" href="#"><button style="background-color:white" disabled> Make Withdrawal</button></a></td>
                            <td><button style="color:darkgreen"><%= each.status %></button></td> 
                        }else if(each.withdrawStatus === "Declined"){
                            <td><a style="background-color:white" href="#"><button style="background-color:white" disabled> Make Withdrawal</button></a></td>
                            <td><button style="color:darkred"><%= each.status %></button></td> 
                        <% }else{ %>
                            <td><a style="background-color:white" href="/withdraw/<%= each._id %>"><button> Make Withdrawal</button></a></td>
                            <td><button style="color:darkred">No Status</button></td> 
                        <% } %>
                    </tr>
                <% }else{ %>
                    <br><br>
                    
                <% } %>
                
            <% }) %>
        <% } else{ %>
            You have no funds to withdraw.    
        <% }%>

    </table>

</div>
<div class="clearfix"></div>
</div>
</div>


</div>

<%- include("../partials/user/footer") %>